<div class="card">
    <!-- {{ujMegrendeles|json}} -->
    <div class="card-body">
      <h5 class="card-title">Új megrendelés felvétele</h5>

        <div class="form-group">
          <label for="exampleFormControlInput1">Megrendelő</label>
          <input [(ngModel)]="ujMegrendeles.megrendelo" type="text" class="form-control" id="exampleFormControlInput1">
        </div>
        <!-- {{ujTetel|json}} -->
        <div *ngIf="ujMegrendeles.rendeles" class="my-4">
            <div class="row">
                <div class="col">Növény</div>
                <div class="col">Darab szám</div>
            </div>
            <div *ngFor="let tetel of ujMegrendeles.rendeles" class="row">
                <div class="col">{{novenyek[keres(tetel.novenyKey)].megnevezes}}</div>
                <div class="col">{{tetel.db}}</div>
            </div>
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Növény</label>
          <select [(ngModel)]="ujTetel.novenyKey" class="form-control" id="exampleFormControlSelect1">
            <option *ngFor="let noveny of novenyek" [value]="noveny.key">
                {{noveny.megnevezes}}
            </option>
          
          </select>
        </div>

        <div class="form-group">
            <label for="exampleFormControlInput1">Darab</label>
            <input [(ngModel)]="ujTetel.db" type="number" class="form-control" id="exampleFormControlInput1">
        </div>
        <button (click)="addTetel(ujTetel)" type="button" class="btn btn-primary">+</button>
        <button (click)="addMegrendeles(ujMegrendeles)" type="button" class="btn btn-primary">Rendelés Elküldése</button>
       
     
    </div>
  </div>