<div class="novenyek">
    <div class="row my-2">
        <div *ngFor="let oszlop of oszlopok" class="col">
            {{oszlop}}
        </div>
        <div class="col">
            Műveletek
        </div>
    </div>
    
    <!-- {{ujNoveny|json}} -->
    <div class="row my-4">
        <div *ngFor="let oszlop of oszlopok" class="col">
            <input [(ngModel)]="ujNoveny[oszlop]" type="text" class="form-control" >
        </div>
        <div class="col">
            <button (click)="add()" type="button" class="btn btn-primary">Felvesz</button>
        </div>
    </div>
    
    <div *ngFor="let noveny of novenyek" class="row my-1">
        <div *ngFor="let oszlop of oszlopok" class="col">
            <input [(ngModel)]="noveny[oszlop]" type="text" class="form-control" >
        </div>
        <div class="col">
            <button (click)="update(noveny)" type="button" class="btn btn-primary">Módosit</button>
            <button (click)="delete(noveny)" type="button" class="btn btn-primary">Törlés</button>
        </div>
    </div>
</div>

<!-- {{kereses}} -->
<div class="rendelesek my-3">
    <div class="input-group mb-3">
        <input [(ngModel)]="kereses" type="text" class="form-control"  aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">Keresés</span>
        </div>
      </div>

    <div *ngFor="let megrendeles of megrendelesek|filter:kereses" class="div my-2">
        <div class="col">{{megrendeles.megrendelo}}</div>
        <div *ngFor="let tetel of megrendeles.rendeles" class="row">           
            <div class="col">{{novenyek[keres(tetel.novenyKey)].megnevezes}}</div>
            <div class="col">{{tetel.db}} db</div>
            <div class="col">{{novenyek[keres(tetel.novenyKey)].ar*tetel.db}} Ft</div>
        </div>
        <div class="div">{{osszead(megrendeles.rendeles)}} Ft</div>
        <button [disabled]="megrendeles.statusz=='Teljesítve'" (click)="teljesitve(megrendeles)" type="button" class="btn btn-primary">Teljesítve</button>
    </div>

</div>
